<html>
<head>
	<title>Unsere Mitglieder</title>
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
	<h1>Unsere Mitglieder</h1>
	<form hx-post="/mitglieder/erstellen" hx-target="#temp">
		<label for="vname">Vorname:</label>
		<input type="text" id="vname" name="vname">
		<br>
		<label for="nickname">Spitzname:</label>
		<input type="text" id="nickname" name="nickname">
		<br>
		<label for="name">Nachname:</label>
		<input type="text" id="name" name="name">
		<br>
		<input type="submit" value="Hinzufügen">
	</form>
	<table border=1>
		<tr >
			<th>ID</th>
			<th>Vorname</th>
			<th>Spitzname</th>
			<th>Nachname</th>
		</tr>
		{{range .}}
			<tr>
				<td>{{.Id}}</td>
				<td>{{.Vname}}</td>
				<td>{{.Nickname}}</td>
				<td>{{.Name}}</td>
			</tr>
		{{end}}
	</table>
	<div id="temp"></div>
</body>
</html>
